*{
	margin:0;
	padding: 0;
}

#banner{
	height: 100px;
	background-color: grey;
	color: yellow;
	o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
.banner-hidden{
	height: 75px;
}
#content{
	height: 700px;
	background: url(../img/8_Bit_Mario_big.png);
	background-repeat: no-repeat;
	background-position:50% 50%;
}

footer{
	height: 50px;
	background-color: grey;
}


