@font-face { font-family:MonkeyIsland-1990; src:url(../fonts/MonkeyIsland-1990.ttf); font-size:10pt,12pt,14pt; }

*{
	margin:0;
	padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    cursor: url(../img/Cursor_20x32.gif), auto;
    font-family: MonkeyIsland-1990; 
    font-size: 12px;
}

body{
	background: url(../img/zelda_wallpaper.png);
}
body a, html a {
    cursor: url(../img/pointer.png), auto;
}

header{

}

h1,h2,h2,h4{
/*	font-family: MonkeyIsland-1990; */
}

#abdecker{
	height: 50px;
	position: fixed;
	top: 0;
	background-color: #484848;
	width: 100%;
	z-index: 99;
}
#banner{
	height: 150px;
	width: 100%;
	background: url(../img/banner1_03.jpg), url(../img/unnamed.jpg);	
	background-repeat: no-repeat, repeat-x;
	background-position: 27% 50%;
	/*
	
	background-size: contain;*/
	o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.banner-hidden{
	top: 0px;
	height: 75px !important;
	background: url(../img/zusammengeklappt.jpg), url(../img/zusammengeklapptleer.jpg) !important;
	background-position: 28% 50% !important;
	background-repeat: no-repeat, repeat-x !important;

}

nav {
    display: flex;
    margin: 0 auto;
    width: 61%;
    height: 100%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
    box-shadow: 2px 2px 2px #dfdfdf;
    -moz-box-shadow: 2px 2px 2px #dfdfdf;
    -webkit-box-shadow: 2px 2px 2px #dfdfdf;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: #FAFAFA;
}

nav ul li {
    list-style: none;
    float:left;
    border-right: 1px solid #dfdfdf;
}

nav ul li:hover > ul {
    visibility: visible;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
    z-index: 10000    
}

nav ul li ul li a {
    color: #FAFAFA;
}

nav ul li ul li a:hover{
    color: #333;
    background-color: #FAFAFA !important;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 14px 34px 14px 34px;
 
    -webkit-transition: background 0.3s ease-out 0s;
    -moz-transition: background 0.3s ease-out 0s;
    -o-transition: background 0.3s ease-out 0s;
    transition: background 0.3s ease-out 0s;
}

nav ul li.cat1:hover a, nav ul li.cat1:hover > ul li a  {
    background-color: #E6DD00;
}

nav ul li.cat2:hover a, nav ul li.cat2:hover > ul li a  {
    background-color: #8CB302;
}

nav ul li.cat3:hover a, nav ul li.cat3:hover > ul li a {
    background-color: #008C74;
}

nav ul li.cat4:hover a, nav ul li.cat4:hover > ul li a {
    background-color: #004C66;
}

nav ul li.cat5:hover a, nav ul li.cat5:hover > ul li a {
    background-color: #332B40;
}

nav ul li:hover > a {
    color: #FAFAFA;
}

#slider{
	margin: 180px auto 30px auto;
	width: 800px;
	position: relative;
}

.banderole{
	height: 50px;
	color: white;
	transform:rotate(-30deg);;
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	position: relative;
	left: -230px;
	padding-left: 300px;
	font-size: 16px;
}

.banderole span{
	position: relative;
	top: 15px;
}

.banderole.games{
	background-color: #8CB302;
}

.banderole.links{
	background-color: #008C74;
}

.box{
	overflow: hidden;
	height: 400px;
	width: 100%;
}

.box img{
	margin: 0 auto;
}

.box h3{
	/*color: #642665;*/
	/*color: #ad45a8; */
	color: white;
	position: absolute;
	bottom: 100px;
	left: 100px;
}

.box a{
	color: white;
	position: absolute;
	bottom: 30px;
	left: 400px;

}

.bx-prev{
	color: black;
	content: "<";
}

.bx-wrapper .bx-controls-direction a{
	z-index: 0;
}
.monkey_island{
	background: url(../img/monkey_island_slider.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
}

.sam_and_max{
	background: url(../img/sam_and_max.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
} 

#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 61%;
    margin-bottom: 50px;
    margin-top: 180px;
}

.withSlider{
	margin-top: 0px !important;
	background-color:white;
	opacity: 0.7;
	padding: 8px;
	border-radius: 8px; 
}

.teaser{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #8CB302;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.teaser .teaser-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #8CB302;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}

.teaser .teaser-text{
	display: inline-block; 
	width: 65%;
}

.teaser .side-color{
	height: 100%;
	display: inline-block;
	width: 30%;
	background-color: #8CB302;
	position: relative;
	z-index: 2;
	left: 4%;
}

.teaser .sider{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background-color: #8CB302;

}

.teaser span{
	display: inline;
}

.teaser h2{
	color: #8CB302
}

.teaser a{
	color: #8CB302;
}

.teaser .teaser-screenshot{
	display: inline;
	float: right;
	margin-left:8px;
	cursor: pointer;
}


.test{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
	border: 3px solid #8CB302;
	box-shadow: 10px 10px 10px grey;
	position: relative;
}

.test .test-image{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #8CB302;
	position: absolute;
	left: -20px;
	top:-20px;
	z-index: 2;
}

.test .test-text{
	display: inline-block; 
	width: 65%;
}

.test .side-color{
	height: 100%;
	display: inline-block;
	width: 30%;
	background-color: #8CB302;
	position: relative;
	z-index: 2;
	left: 4%;
}

.test .sider{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background-color: #8CB302;

}

.test .sider span {
	color: white;
}

.test span{
	display: inline;
}

.test h2{
	color: #8CB302;
}

.test a{
	color: #8CB302;
}

.test .teaser-screenshot{
	display: inline;
	cursor: pointer;
	margin: 5px auto;
}

.test .test_bewertung{
	margin-top: 30px;
	height: 100px;
}

.screenshot-panel{
	background-color: white;
}

#simplemodal-container a.modalCloseImg{
	background:url(../img/x.png) no-repeat; /* adjust url as required */
	width:30px;
	height:30px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
}

.simplemodal-overlay {
    background-color: #000;
}

.bewertung{
	height: 50px;
	background: url(../img/stern_klein.png);
}

.bewertung.einStern{
	width: 50px;
}

.bewertung.zweiSterne{
	width: 100px;
}

.bewertung.dreiSterne{
	width: 150px;
}

.bewertung.vierSterne{
	width: 200px;
}

.bewertung.fuenfSterne{
	width: 250px;
}

footer{
	height: 38px;
	background-color: rgb(72, 72, 72);
        width: 100%;
        font-size: 8px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
    color: #333;
    padding: 14px 14px 14px 14px;
    display: flex;
    align-self: center;
    color: rgb(145, 145, 145);
}

footer ul li a, footer ul a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-self: center;
}

footer ul li img {
    margin-right: 5px;
}

.footer_text {
    display: flex;
    align-self: center;
}

.kontakt_logo {
    height: 10px;
}

.selected_home {
    background-color: #E6DD00;

}

.selected_home a {
    color: white;
}

.selected_game {
    background-color: #8CB302;

}

.selected_game a {
    color: white;
}

.selected_links {
    background-color: #008C74;

}

.selected_links a {
    color: white;
}

/*
.bc_trenner {
    width: 50px;
    height: 50px;
    background-color: white;
    // border: 1px solid grey;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: -13px;
}

#bc_box {
    // overflow: hidden;
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
}
*/

