@font-face { font-family:MonkeyIsland-1990; src:url(../fonts/MonkeyIsland-1990.ttf); font-size:10pt,12pt,14pt; }

*{
	margin:0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
    cursor: url(../img/Cursor_20x32.gif), auto;
    font-family: MonkeyIsland-1990;
}
body{
	background: url(../img/zelda_wallpaper.png);
}

#banner{
	height: 100px;
	width: 100%;
	background-color: grey;
	o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.banner-hidden{
	height: 75px !important;
}

nav {
    margin: 0 auto;
    width: 61%;
    height: 100%;
}

.menu {
    display: flex;
    list-style-type:none;
    //height: 50px;
    justify-content: flex-end;
    width: 61%;
    bottom: 0px;
    position: absolute;
    
}

.menu .menu-item {
    color: white;
    display:inline-block;
    padding: 16px 16px 16px 16px;
    //margin:0 1em;
    border: 1px solid white;
    height: 64%;
    background-color: darkkhaki;
    
}

.menu .menu-item a {
    text-decoration: none;
}

#slider{
	margin: 130px auto 30px auto;
	width: 800px;
	position: relative;
}

.box{
	height: 400px;
	width: 100%;
}

.box img{
	margin: 0 auto;
}

.box h3{
	/*color: #642665;*/
	/*color: #ad45a8; */
	color: white;
	position: absolute;
	bottom: 100px;
	left: 100px;
}

.box a{
	color: white;
	position: absolute;
	bottom: 30px;
	left: 400px;

}

.monkey_island{
	background: url(../img/monkey_island_slider.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
}

.sam_and_max{
	background: url(../img/sam_and_max.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
} 

#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 61%;
  
    margin-bottom: 50px;
    margin-top: 130px;
}

.withSlider{
	margin-top: 0px !important;
	background-color:white; 
}

.teaser{
	position: relative;
	border-radius: 8px;
	padding: 20px;
	background-color:white; 
	margin-bottom: 20px;
}

.teaser img{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	border: 1px solid black;
	position: absolute;
	left: -15px;
	top:-15px;
}

.screenshot-panel{
	background-color: white;
}

#simplemodal-container a.modalCloseImg{
	background:url(../img/x.png) no-repeat; /* adjust url as required */
	width:30px;
	height:30px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

.simplemodal-overlay {
    background-color: #000;
}

.bewertung{
	height: 50px;
	background: url(../img/stern_klein.png);
}

.bewertung.einStern{
	width: 50px;
}

.bewertung.zweiSterne{
	width: 100px;
}

.bewertung.dreiSterne{
	width: 150px;
}

.bewertung.vierSterne{
	width: 200px;
}

.bewertung.fuenfSterne{
	width: 250px;
}

footer{
	height: 50px;
	background-color: grey;
}


