@font-face { font-family:MonkeyIsland-1990; src:url(../fonts/MonkeyIsland-1990.ttf); font-size:10pt,12pt,14pt; }

*{
	margin:0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
    cursor: url(../img/Cursor_20x32.gif), auto;
    font-family: MonkeyIsland-1990;
}

#banner{
	height: 100px;
	width: 100%;
	background-color: grey;
	o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.banner-hidden{
	height: 75px !important;
}

nav {
    margin: 0 auto;
    width: 61%;
    height: 100%;
}

.menu {
    display: flex;
    list-style-type:none;
    //height: 50px;
    justify-content: flex-end;
    width: 61%;
    bottom: 0px;
    position: absolute;
    
}

.menu .menu-item {
    color: white;
    display:inline-block;
    padding: 16px 16px 16px 16px;
    //margin:0 1em;
    border: 1px solid white;
    height: 64%;
    background-color: darkkhaki;
    
}

.menu .menu-item a {
    text-decoration: none;
}

#slider{
	margin: 100px auto;
	width: 800px;
	position: relative;
}

.box{
	height: 400px;
	width: 100%;
}

.box img{
	margin: 0 auto;
}

.box h3{
	/*color: #642665;*/
	/*color: #ad45a8; */
	color: white;
	position: absolute;
	bottom: 100px;
	left: 100px;
}

.box a{
	color: white;
	position: absolute;
	bottom: 30px;
	left: 400px;

}

.box:nth-child(1){
	background: url(../img/monkey_island_slider.jpg);
	background-repeat: no-repeat;
	background-position:50% 50%;
} 

#main{
	position: relative;
	margin-top: 100px;
	height: 800px;
	background: url(../img/8_Bit_Mario_big.png);
	background-repeat: no-repeat;
	background-position:50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 61%;
}

.bewertung{
	height: 50px;
	background: url(../img/stern_klein.png);
}

.bewertung.einStern{
	width: 50px;
}

.bewertung.zweiSterne{
	width: 100px;
}

.bewertung.dreiSterne{
	width: 150px;
}

.bewertung.vierSterne{
	width: 200px;
}

.bewertung.fuenfSterne{
	width: 250px;
}

footer{
	height: 50px;
	background-color: grey;
}


